<p>
  <%= form_for @inventory_dashboard.new_category, html: { class: 'form-inline' } do |f| %>
    <div class='form-group'>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</p>
